@import 'design-system/dist/core/scss/styles';

.previewHeader {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
  border-radius: 12px;
  background: var(--a-surface);
  margin-bottom: 16px;
}

.previewTotal {
  display: flex;
  justify-content: flex-end;
  padding: 12px 4px;
  font-weight: 700;
}
